body {
	background-color: #ffffff;
}

.main-wrapper {
	height: 100vh;
}

.grid-item {
	float: left;
}

.errors li {
	list-style: none;
	width: 100%;
	text-align: center;
}

.errors ul {
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-dark .navbar-nav .active > .nav-link {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.tooltip {
	font-family: Tahoma, sans-serif !important;
	font-size: 0.75rem;
}
